<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>

    <style>
      a {
        /* font-style: normal;
        font-weight: 400; */
        font-size: 3rem;
      }
    </style>
  </head>
  <body>
    <a class="font">안녕하세요</a> <br />
    <a class="font">Hello</a> <br />

    <a>안녕하세요</a> <br />
    <a>Hello</a> <br />
  </body>
</html>
